<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<title><%= title %></title>

	<link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" media="" />
	<link href="/stylesheets/format.css" type="text/css" rel="stylesheet" media="screen" />
	<link href="/stylesheets/print.css" type="text/css" rel="stylesheet" media="print" />

</head>

<body class="preview">

<div id="container">

	<header>
		<h1>markdown.cc</h1>
	</header>
	
	<div id="middle">
		<div id="previewMd">
			<section>
				<% try { %>
					<%- preview %>
				<% } catch(err) { %>
					<h1>&lt;----- Type here</h1>	
				<% } %>
			</section>
		</div>
	</div><!-- /#middle -->
	
</div><!-- /#container -->

<!-- <script src="public/javascripts/jquery-1.7.2.min.js" type="text/javascript" language="javascript"></script>
<script src="public/javascripts/app.js" type="text/javascript" language="javascript"></script> -->

<script src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js"></script>
<script src="http://localhost:3001/socket.io/socket.io.js"></script>
<script src="/javascripts/app.js"></script>

	

</script>

</body>
</html>
